#home-section {
  min-height: 100vh;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg.jpeg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  .title-wrapper {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #title {
    letter-spacing: 0.1em;
    color: $light-gray;
    font-size: 40px;
    margin: 10px;
    text-align: center;
  }

  #slogan {
    letter-spacing: 0.05em;
    color: $light-gray;
    font-size: 25px;
    margin: 10px;
    text-align: center;
  }
}

@media (max-device-width: 812px) {
  .banner {
    #slogan {
      font-size: 31px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .banner {
    .title-wrapper {
      top: 65%;
    }
  }
}