@import "home";



// Base css
html {
  -webkit-overflow-scrolling: touch;
}

body {
  background: $white;
  font-family: $body-font;
  color: $black;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $headers-font;
}


ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0px;
}

.navlink,
.navlink:hover {
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #81b3d2;

}

.navlink:hover {
  color: #d73444;
}


.navlink:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  right: 0px;
}

.navlink:after {
  bottom: -0.3em;
}

.navlink:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: #d73444;
}

.navlink:hover:after {
  width: 100%;
}

// Utilities classes (take on Bootstrap)

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// Restore Bootstrap 3 "hidden" utility classes.
/* Breakpoint XS */
@media (max-width: 575px) {

  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {

  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {

  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {

  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px) {

  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}