<!-- begin section -->

  <div class="section" data-anchor="skills">
    <div class="content">
      <h1 class="wow fadeInDown" data-wow-delay="0.2s">ABOUT ME</h1>
      <p class="wow fadeInDown" data-wow-delay="0.2s">Hi, I'm Florian Dublanc! I'm a Bordeaux based FullStack and more Front-end Developer focused on creating clean, responsive web designs!</p>

      <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #DD1E2F;"><span>HTML5</span></div>
          <div class="skillbar-bar" style="background: #DD1E2F;"></div>
          <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #EBB035;"><span>CSS3</span></div>
          <div class="skillbar-bar" style="background: #EBB035;"></div>
          <div class="skill-bar-percent">80%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #218559;"><span>Photoshop</span></div>
          <div class="skillbar-bar" style="background: #218559;"></div>
          <div class="skill-bar-percent">75%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="45%">
          <div class="skillbar-title" style="background: #6840D4;"><span>Rails</span></div>
          <div class="skillbar-bar" style="background: #6840D4;"></div>
          <div class="skill-bar-percent">45%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="30%">
          <div class="skillbar-title" style="background: #06A2CB;"><span>jQuery</span></div>
          <div class="skillbar-bar" style="background: #06A2CB;"></div>
          <div class="skill-bar-percent">30%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="20%">
          <div class="skillbar-title" style="background: #AB4DD2;"><span>PHP</span></div>
          <div class="skillbar-bar" style="background: #AB4DD2;"></div>
          <div class="skill-bar-percent">20%</div>
        </div> <!-- End Skill Bar -->
      </div>
    </div>
  </div>
  <!-- end section -->