<section id="home-section">
  <div class="banner">
    <div class="logo-wrapper">
      <h1 id="title">FLORIAN / DUBLANC</h1>
      <p id="slogan">Fullstack Web Developper</p>
    </div>
  </div>
</section>