<!-- begin section -->

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="far fa-address-card"></i></a>
  </div>
  <div class="footer-copyright">
    F/D ©2020 Copyright reserved
  </div>
</div>

  <!-- end section -->