<!-- navbar header -->
<div class="nav-header">
  <div class="logo">
    <img src="../assets/images/floppy_logo.svg">
  </div>
  <div class="header-links hidden-sm-down">
    <ul>
      <li data-menuanchor="secondPage"><a class="after navlink" href="#about">ABOUT</a></li>
      <li data-menuanchor="thirdPage"><a class="after navlink" href="#portfolio">PORTFOLIO</a></li>
      <li data-menuanchor="fourthPage"><a class="after navlink" href="#contact">CONTACT</a></li>
    </ul>
  </div>


  <div class="mobile_nav hidden-md-up">
    <div class="hamburger-logo-wrapper header">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span>
    </div>
    <aside class="sidebar-left sidenav">

      <a class="sidenav-link navbar-link after company-logo" href="#home-section">Logo</a>

      <div class="sidebar-links">
        <a class="sidenav-link navbar-link after link-blue" href="#about"><i class="fa fa-picture-o"></i>About</a>
        <a class="sidenav-link navbar-link after link-red" href="#portfolio"><i class="fa fa-heart-o"></i>Portfolio</a>
        <a class="sidenav-link navbar-link after link-yellow" href="#contact"><i
            class="fa fa-keyboard-o"></i>Contact</a>
        <a class="sidenav-link navbar-link after link-green" href="#"><i class="fa fa-map-marker"></i>Places</a>
      </div>

    </aside>
  </div>
</div>
<!-- end navbar header -->
