<!-- navbar header -->
<div class="nav-header">
  <div class="nav-brand">
    <img src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/bradlogo2.png">
  </div>
  <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
      <ul>
        <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
        <li data-menuanchor="thirdPage"><a href="#portfolio">PORTFOLIO</a></li>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
      </ul>
    </div>
  </div>
<!-- end navbar header -->

<!-- sidebar slider -->
<div class="nav-screen">
  <i class="fa fa-times fa-3x"></i>
  <div class="nav-container">
    <div class="nav-links">
      <ul id='myMenu'>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
        <li data-menuanchor="thirdPage"><a href="#portfolio">PORTFOLIO</a></li>
        <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end navbar slider -->