<!-- navbar header -->
<div class="nav-header">
  <div class="logo">
    <img src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/bradlogo2.png">
  </div>
  <div class="header-links hidden-sm-down">
    <ul>
      <li data-menuanchor="secondPage"><a class="after" href="#about">ABOUT</a></li>
      <li data-menuanchor="thirdPage"><a class="after" href="#portfolio">PORTFOLIO</a></li>
      <li data-menuanchor="fourthPage"><a class="after" href="#contact">CONTACT</a></li>
    </ul>
  </div>
  <div class="mobile_nav hidden-md-up">
    <div class="hamburger-logo-wrapper">
      <!-- <button class="hamburger sidenav-trigger front-position" type="button" aria-label="Menu"></button> -->
      <i class="fas fa-bars sidenav-trigger front-position hidden-md-up"></i>
    </div>
    <div class="sidenav">
      <a class="after navbar-link sidenav-link" href="#home-section"><i class="fas fa-times"></i></a>
      <ul>
        <li class="navbar-item"><a class="after navbar-link sidenav-link" href="#about">ABOUT</a></li>
        <li class="navbar-item"><a class="after navbar-link sidenav-link" href="#portfolio">PORTFOLIO</a></li>
        <li class="navbar-item"><a class="after navbar-link sidenav-link" href="#contact">CONTACT</a></li>
      </ul>
      <!-- <div class="social-wrapper-sidenav">
        <div class="social-links-sidenav">
          <a href="https://www.facebook.com/N21restaurant/" class="nav-icon" target="_blank" rel="noopener noreferrer"
            aria-label="Facebook"><i class="fab fa-facebook-square"></i></i></a>
          <a href="https://www.instagram.com/n21restaurant/?hl=en" class="nav-icon" target="_blank"
            rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="tel:+842839300840" class="nav-icon" aria-label="Telephone"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- end navbar header -->