/* navbar start */
.nav-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  padding: 10px;
  align-self: center;
}

.logo img {
  width: 50px;
}

.header-links {
  width: 450px;
  padding: 10px;
}

.header-links li {
  display: flex;
}

// Menu phone device //
.fa-bars {
  color: #ff6363;
  font-size: 40px;
  align-self: center;
  padding: 20px;
  cursor: pointer;
}

// end //

.mobile_nav {
  position: absolute;
  right: 20px;
  align-self: center;
}

.sidenav {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292c2f;
  width: 130px;
  padding: 20px 0;
  border-radius: 0 0 25px 0;
  z-index: 1;
  overflow: auto;
  text-align: center;
  transition: all 0.5s;

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: auto;
    width: fit-content;
    padding: 40px 0;
  }
}

.show-sidenav {
  opacity: 1;
}

.sidenav a {
  text-decoration: none;
  font-size: 40px;
  font-family: $headers-font;
  color: $white;
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}

.sidenav li a {
  font-size: 25px;
}

// Hamburger
.hamburger {
  height: 55px;
  width: 50px;
  z-index: 4;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

.front-position {
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .nav-wrapper {
    padding: 0px 15px;
  }

  .navbar-middle {
    margin-left: 0;
  }

  .navbar-item {
    padding: 0 15px;
  }

  .navbar-link {
    font-size: 18px;
  }

  .nav-icon {
    font-size: 28px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidenav li {
    padding: 25px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .sidenav ul {
    padding: 0;
  }
}

/* The left sidebar */

.sidebar-left a.company-logo {
  display: block;
  text-decoration: none;
  font-family: Cookie, cursive;
  width: 76px;
  height: 76px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: normal;
  line-height: 2.6;
  border-radius: 50%;
  background-color: #181a1b;
}

.sidebar-left .sidebar-links {
  margin: 20px auto;
}

.sidebar-left .sidebar-links a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 20px 0;
  background-color: #35393e;
  text-align: center;
  color: #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
  display: block;
  font-size: 35px;
  margin-bottom: 5px;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
  border-color: #487db2;
}

.sidebar-left .sidebar-links a.link-blue i.fa {
  color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
  border-color: #da4545;
}

.sidebar-left .sidebar-links a.link-red i.fa {
  color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
  border-color: #d0d237;
}

.sidebar-left .sidebar-links a.link-yellow i.fa {
  color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
  border-color: #86be2e;
}

.sidebar-left .sidebar-links a.link-green i.fa {
  color: #86be2e;
}

/* Making the sidebar responsive */

/* Mobile phone layout */

@media (max-width: 768px) {
  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: block;
    max-width: 240px;
    width: auto;
    vertical-align: middle;
    margin: 0 auto 5px;
    padding: 10px 25px;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 22px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  border-radius: 20px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 20px;
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
